*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flower{
    width: 100%;
    height: 100vh;
    background-color:rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px ;
}
.petals{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    top: 160px;
    z-index: 1;
}

#petal{
    position: relative;
    border: 1px solid;
    padding: 50px;
    margin: 1px;
    background-color: #be123c;
    animation: identifier 4.2s linear infinite;
}

@keyframes identifier {
    0%{
        background-color: #fda4af;
    }
    20%{
        background-color:#fb7185;
    }
    30%{
        background-color: #f43f5e;
    }
    40%{
        background-color: #e11d48;
    }
    50%{
        background-color:#be123c;
    }
    60%{
        background-color: #9f1239;
    }
    70%{
        background-color: #f43f5e;
    }
}
.center{
    position: relative;
    padding: 25px;
    border-radius:25px;
    top: 52px;
    left: 232px;
    background-color: #fff;
    z-index: 2;
    transition: 0.2s;
}
.center:hover{
    padding: 27px;
    background-color: rgb(178, 142, 0);
}
.p2{
    border-radius: 20px 70px 20px 70px;
    transition: 0.2s ;
}
.p3{
    border-radius: 70px 20px 70px 20px;
    transition: 0.2s ;
}
.p1{
    top: 105px;
    left: 102px;
    border-radius: 70px 20px 70px 20px;
    transition: 0.2s ;
}
.p4{
    top:105px;
    right: 105px;
    border-radius: 20px 70px 20px 70px;
    transition: 0.2s ;
}

#petal:hover{
    padding: 55px;
    background-color: rgb(255, 251, 0);
}

.stem{
    padding: 20px;
    position: relative;
    top: 0px;
    left: 22px;
}
.line{
    padding: 5px;
    padding-bottom: 200px;
    background-color: green;
    border-top-left-radius:20px ;
}
#leaves{
    position: absolute;
    padding: 20px;
    background-color:yellowgreen;
}
.leaf-1{
    top:95px;
    left: 30px;
    border-radius: 70px 10px 70px 0px;
}
.leaf-2{
    top:130px;
    left: -20px;
    border-radius: 10px 70px 0px 70px;
}
.leaf-3{
    top:160px;
    left: 30px;
    border-radius: 70px 10px 70px 0px;
}
